@import "tailwindcss";

@theme {
  /* Your custom colors */
  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-primary-900: #0c4a6e;
  
  --color-secondary-500: #d946ef;
  --color-secondary-600: #c026d3;
  
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;

  --color-primary-gray: #EDEDED;
  --color-primary-yellow: #FFD643;
  --color-card-bg: #F0F0F0;
}